*{
    margin: 0px;
    padding: 0px;
}


H1{
    text-align: center;
    color: white;
    text-shadow: 10px 5px 5px red;
    /* margin: 40px; */
    font-size: 45px;
    /* font-family: 'Bangers', cursive; */
    font-family: 'Fredoka One', cursive;
    margin-top: 50px;
}

.thought{
    color: yellow;
    text-align: center;
    font-size: 1.8em;
    margin: 34px;
    margin-left: 44px;
    margin-right: 44px;
    /* background-color: black; */
    margin-top: 24px;
}

#navbar{
    display: flex;
    align-items: center;
}

.logo{
    margin: -11px 22px ;
}

.logo img{
    margin: 6px;
    height: 50px;
    width: 90px;
}


ul{
    display: flex;
    list-style: none;
    margin: 5px;
}

li{
    margin: 30px;
    font-size: 22px;
}

#navbar ul li a{
    display: block;
    list-style: none;
    color: white;
    text-decoration: none;  
    transition: all;
    transition-duration: 0.7s;
}

#navbar ul li a:hover{
    display: block;
    list-style: none;
    color: yellow;
    text-decoration: none;  
    font-size: larger;
    background-color: black;
    border: 3px solid black;
    border-radius: 33px;
}

h1::before{
    background-image:url(https://cdn.pixabay.com/photo/2014/05/27/23/32/matrix-356024_1280.jpg);
    content: "";
    
    width: 100vw;
    height: 5000px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -3;
    height: 1000px;
    background-size: cover;
}


.heading{
    text-align: center;
    color: white;
    font-size: 2.5em;
    margin: 60px;
    text-decoration: underline;
    transition: all;
    transition-duration: 1s;
}
.heading:hover{
    text-align: center;
    color: orange;
    font-size: 3.5em;
    margin: 60px;
    text-decoration: underline;
}

#box{
    margin: 33px;
    display: flex;
}

#cpph{
    text-align: center;
}

#box #cpp{
 
    border: 3px solid white;
    color: white; 
    margin: 14px; 
    padding: 25px;
    box-shadow: 4px 5px 25px white;
    background-color: black;
    color: white;
    border-radius: 40px;
    transition: all;
    transition-duration: 1s;

  
}
#box #cpp:hover{
    background-color: rgb(32, 24, 24);
    color: white;
    font-size: 1.5em;
  
}
#box #cpp img{
   height: 135px;
   width: 135px;
   display: block;
   margin: auto;
   
}
#box #cpp p{
    text-align: center;
    margin: 20px;
}

.heading2{
    text-align: center;
    color: white;
    font-size: 2.5em;
    margin: 25px;
    text-decoration: underline;
    transition: all;
    transition-duration: 1s;
}


.clients{
    background-color: black;
    margin-top: 75px;
    height: 300px;
    border: 3px solid white;
    border-radius: 30px;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;  
}

#clients img{
    height: 121px;
    width: 140px;
    padding: 50px;
}